{% extends 'modelo.html' %}
{% block titulo %} Início {% endblock %}

{% block estilos %}
    <link rel="stylesheet" href="/static/css/index.css" />
{% endblock %}
    
{% block conteudo %}
    <h1>Faculdade Impacta de Tecnologia</h1>
    <section class=premios>
        <h2>Prêmios e Reconhecimentos</h2>
        {% for premio in premios %}
            <article class="premio">
                <h3>{{premio.titulo}}</h3>
                <img alt="{{premio.titulo|lower}}" src="/static/imagens/premios/enade-{{premio.curso.sigla}}.png" />
                <h4>Graduação em {{premio.curso.nome}}</h4>
                {{premio.descricao|safe}}
                <a href="cursos/{{premio.curso.sigla|lower}}" class="botao">
                    Confira mais sobre o curso
                </a>
            </article>
        {% endfor %}
    </section>
    <section class="smartclass">
        <h2>Conheça o Smartclass</h2>
        <img alt="play do smartclass" src="/static/imagens/play-smartclass.jpg" />
        <p>
            As salas de aula da Faculdade Impacta são equipadas com lousas eletrônicas,
            que capturam todos os pontos das aulas presenciais, como voz, escrita dinâmica,
            vídeos e navegação do professor. Todo o conteúdo é gravado e disponibilizado 
            em uma sala de ensino virtual para que o aluno assista quando e onde quiser,
            de qualquer plataforma digital. Sempre disponível para consulta dos alunos!
        </p>
    </section>
{% endblock %}