{% extends 'modelo.html' %}
{% block titulo %} Sobre a Faculdade {% endblock %}

{% block estilos %}
    <link rel="stylesheet" href="/static/css/sobre.css" />
{% endblock %}
    
{% block conteudo %}
    <h1>Sobre a Faculdade</h1>
    <section class="sobre">
        <h2>Faculdade Impacta</h2>
        <p>
            Fundada em 2003, a <strong>Faculdade Impacta</strong> é considerada uma das melhores instituições de tecnologia da
            América Latina devido ao seu intenso compromisso com a educação ao longo dos anos e à transformação 
            da sociedade através da tecnologia.
        </p>
        <p>
            Referência nas áreas de TI, Gestão e Design, a Impacta conta com cursos de Graduação, Pós-Graduação,
            Extensão, MBA e cursos técnicos que preparam seus alunos para os desafios do mercado de trabalho, além 
            de um time de mestres e doutores com larga experiência profissional.
        </p>
        <p>
            O alto nível de empregabilidade é uma das principais características da <em>Faculdade Impacta</em>, que é
            reconhecida pelas maiores empresas do País, em que seus alunos garantem posições de destaque no mercado 
            de trabalho após o término do curso.
        </p>
        <p>
            A Instituição ainda conta com infraestrutura moderna, avaliação positiva do MEC, cursos estrelados no Guia
            do Estudante e parcerias estratégicas com grandes empresas para oferecer a melhor formação para os alunos.
        </p>
    </section>
    <section class="empresa">
        <h3>Missão</h3>
        <p>
            A Faculdade Impacta Tecnologia tem como missão disseminar o conhecimento no País e contribuir 
            para a construção de uma sociedade mais igualitária através das novas tecnologias aliadas à educação.
        </p>
        <h3>Visão</h3>
        <p>
            Ser o melhor em educação, conhecimento, capacitação e inovação com liderança, presença e referência mundial.
        </p>
        <h3>Valores</h3>
        <ul class="lista-valores">
            <li>Encantar o cliente.</li>
            <li>Paixão pela excelência e alta performance.</li>
            <li>Busca de níveis superiores de inovação e conhecimento.</li>
            <li>Iniciativa e trabalho em equipe com colaboradores comprometidos e criativos.</li>
            <li>Crescimento com rentabilidade e resultados que superem expectativas.</li>
            <li>Empreendedorismo com ética e integridade.</li>
        </ul>
    </section>
{% endblock %}