{% extends 'modelo.html' %}

{% block estilos %}
    <link rel="stylesheet" href="/static/css/admin.css">
{% endblock %}

{% block conteudo %}
    <h1>Área Administrativa</h1>
    <section class="admin">
        <nav class="admin-menu">
            <a href="/admin">Home</a>
            <a href="/admin/cursos">Cursos</a>
            <a href="/admin/disciplinas">Disciplinas</a>
            <a href="#">Usuários</a>
        </nav>
        <section class="conteudo">
            {% block admin %}{% endblock %}
        </section>
    </section>
{% endblock %}